body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #c71151;
    text-align: center;
}

div {
    margin: 10px 0;
}

#phrase, #filter {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

button {
    background-color: #e05d20;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #af530c;
}

#words {
    padding: 5px;
    background-color: #e1d6d6;
    border: 1px solid #383636;
    border-radius: 5px;
    min-height: 40px;
    width: 55%;
}

#count {
    font-weight: bold;
    color: #0f9de4;
}

.word {
    border: 2px dotted rgb(72, 14, 246);
    color: rgb(9, 8, 8);
    padding: 2px 5px;
    margin: 0 3px;
    display: inline-block;
}

#words span:nth-of-type(odd) {
    text-decoration: underline;
}